<table mat-table [dataSource]="taskDatasource" class="mat-elevation-z8">
<ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let task">{{task.id}}</td>
</ng-container>
<ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>TYPE</th>
    <td mat-cell *matCellDef="let task">{{task.type}}</td>
</ng-container>
<ng-container matColumnDef="state">
    <th mat-header-cell *matHeaderCellDef>STATE</th>
    <td mat-cell *matCellDef="let task">{{task.state}}</td>
</ng-container>
<ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef>TIME</th>
    <td mat-cell *matCellDef="let task">{{task.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}</td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;let task" (click)="selectTask(task)"></tr>
</table>
