<mat-card *ngIf="task != undefined">
  <mat-card-content>
	<label>ID:</label>
	{{task.id}}
  </mat-card-content>
  <mat-card-content>
	<label>TYPE:</label>
	{{task.type}}
  </mat-card-content>
  <mat-card-content>
	<label>STATUS:</label>
	{{task.state}}
  </mat-card-content>
  <mat-card-content>
	<label>CHANGED:     </label>
	{{task.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}
  </mat-card-content>
  <mat-card-content>
	<mat-card>
	  <ng-container #taskDetails></ng-container>
	</mat-card>
  </mat-card-content>
  <mat-card-content>
	<app-qr-generator [value]="getQRCodeValue()"></app-qr-generator>
  </mat-card-content>
  <mat-toolbar>
	  <mat-card-actions>
      <button mat-flat-button type="button"  (click)="start()">Start</button>
      <button mat-flat-button type="button"  (click)="pause()">Pause</button>
      <button mat-flat-button type="button"  (click)="resume()">Resume</button>
      <button mat-flat-button type="button" (click)="finish()">Finish</button>
	  </mat-card-actions>
	</mat-toolbar>
</mat-card>