<div class="container">
  <div *ngIf="!isOnline" class="offline-banner">
    You are currently offline
  </div>
    <button mat-flat-button type="button" *ngIf="auth.isLoggedIn()" (click)="auth.logout()">Logout</button>
    <button mat-flat-button type="button" *ngIf="auth.isLoggedIn()" (click)="this.alertAccessToken()">Access token</button>
    <button mat-flat-button type="button" *ngIf="auth.isLoggedIn()" (click)="this.alertIDToken()">ID token</button>
    <button mat-flat-button type="button" *ngIf="auth.isLoggedIn()" (click)="this.alertRefreshToken()">Refresh token</button>
    <div *ngIf="auth.isLoggedIn()">
    <p>Welcome, {{ auth.getIdentityClaims()?.email }}</p>
  <mat-tab-group #tabGroup (selectedTabChange)="onTabChange($event)" >
    <mat-tab label="List" >
      <task-list #taskListTabComponent (taskSelected)="handleTaskSelected($event)"></task-list>
    </mat-tab>
    <mat-tab label="Task">
      <task #taskTabComponent (taskFinished)="handleTaskFinished($event)"></task>
    </mat-tab>
    <mat-tab label="Assistance" >
      <adhoc-task #adhocTaskTabComponent ></adhoc-task>
    </mat-tab>
    <mat-tab label="Backend" >
      <task-execution #backendTabComponent></task-execution>
    </mat-tab>
  </mat-tab-group>

    </div>

</div>

