<div class="container">
  <div *ngIf="!isOnline" class="offline-banner">
    You are currently offline
  </div>
  <mat-tab-group #tabGroup (selectedTabChange)="onTabChange($event)" >
    <mat-tab label="List" >
      <task-list #taskList (taskSelected)="handleTaskSelected($event)"></task-list>
    </mat-tab>
    <mat-tab label="Task">
      <task #taskComponent (taskFinished)="handleTaskFinished($event)"></task>
    </mat-tab>
    <mat-tab label="Assistance" >
      <adhoc-task #adhocTaskComponent ></adhoc-task>
    </mat-tab>
    <mat-tab label="Backend" >
      <task-execution></task-execution>
    </mat-tab>
  </mat-tab-group>
</div>

